<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <script src="/js/sidemenu.js" charset="utf-8"></script>
  <script src="/js/bcf.js" charset="utf-8"></script>
  <body>
    <%- include('../partials/sidemenu', {user : user}) %>

    <div class="content">
      <div id="header">
        <div class="page-title">
            <%= title %>
        </div>
        <div class="panel">
          <select class="" name="commits">
            <% for(i = 0; i < commits.length; i++){ %>
              <option class="options" sha="<%= commits[i].commit.tree.url %>" title="<%= commits[i].commit.message %>" value="">
                <%= commits[i].commit.author.name + ' - ' + parseDate(commits[i].commit.author.date) + ' - ' + commits[i].commit.message %>
              </option>
            <% } %>
          </select>
          <i id="update" title="Actualizar" class="fa fa-refresh"></i>
        </div>
      </div>
      <div class="repo-container">

      </div>
    </div>

    <% include ../partials/footer %>
    <div class="modal-container">
      
    </div>
  </body>
</html>
