<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <script src="/js/user_home.js" charset="utf-8"></script>
  <body>
    <%- include('../partials/menu', {user : user}) %>

      <div class="content">

        <div class="page-title">
          Mis proyectos activos
        </div>

        <div class="repo-container">
          <% if(sync.length == 0) {%>
            <div id="message">
              <p>Ups! Parece que no tienes ningun proyecto activo. <i class="fa fa-frown-o"></i></p>
              <p>
                Ve a menú(<i class="fa fa-navicon"></i>), luego a Todos mis proyectos (<i class="fa fa-list"></i>).
              </p>
              <p>
                Haz click sobre los proyectos y finalmente dale a guardar(<i class="fa fa-save"></i>) para añadirlos a tu lista! <i class="fa fa-smile-o"></i>
              </p>
            </div>
          <% } else { %>
            <% for(i = 0; i < sync.length; i++) { %>
              <div class="active-project">
                <div class="project-name">
                  <%= sync[i].name %>
                </div>
                <div class="project-buttons">
                  <div title="Editar" class="bcf-tool tool-blue">
                    <span id="edit" link="<%=user.name%>/projects/p/<%=sync[i].name%>-<%=sync[i].owner%>"><i class="fa fa-pencil fa-2x"></i></span>
                  </div>
                  <div title="Descargar" class="bcf-tool tool-green">
                    <span id="download" link=""><i class="fa fa-cloud-download fa-2x"></i></span>
                  </div>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>

    <% include ../partials/footer %>

  </body>
</html>
