<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <script src="/js/user_projects.js" charset="utf-8"></script>
  <body>
    <%- include('../partials/menu', {user : user}) %>

    <div class="content">
      <div class="page-title">
        Todos mis proyectos:
      </div>

      <div class="repo-container">
        <% for(i = 0; i < sync.length; i++) { %>
          <div class="project">
              <% if (sync[i].marked) {%>
                <div class="sync" owner="<%= sync[i].owner %>" name="<%= sync[i].name %>">
                  <%= sync[i].name %> <i class="fa fa-check-circle synced"></i>
                </div>
              <% } else { %>
                <div owner="<%= sync[i].owner %>" name="<%= sync[i].name %>">
                  <%= sync[i].name %>
                </div>
              <% } %>
              <i class="fa fa-times-circle fa-2x delete-repo"></i>
          </div>
        <% } %>
      </div>
      <div id="button-container">
        <div id="add-project" class="bcf-tool tool-green" title="Crear proyecto">
          <i class="fa fa-plus fa-2x"></i>
        </div>
        <div id="save-projects" class="bcf-tool tool-blue" title="Guardar proyectos activos">
          <i class="fa fa-save fa-2x"></i>
        </div>

      </div>
    </div>

    <div class="modal-container">
      <div class="top">
        <input type="text" placeholder="Titulo"/>
      </div>
      <div class="mid">
        <div class="mid-left">
          <span><input type="radio" name="visibility" value="public"><span>Público</span></span>
          <span><input type="radio" name="visibility" value="private"><span>Privado</span></span>
        </div>
        <div class="mid-right">
          <input type="file" id="upload-ifc" style="display:none;">
          <label for="upload-ifc" class="upload">Subir .IFC</label>
        </div>
      </div>
      <div class="bot">
        <button id="push" class="check"><i class="fa fa-check-circle fa-4x"></i></button>
        <button id="cancel" class="times"><i class="fa fa-times-circle fa-4x"></i></button>
      </div>
    </div>

    <div class="overlay"></div>
    <i id="loading-icon" class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>

    <% include ../partials/footer %>
  </body>
</html>
